@import '../../Styles/variables.scss';

.container {
    display: flex !important;
    gap: 20px;

    .devider {
        display: none;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        .img-bx {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2);  
            
            &.not-pending:hover .btn-view-image {
                display: flex;
            }
            
            .btn-view-image {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                backdrop-filter: blur(15px);  
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                display: none;
                user-select: none;

                span {
                    margin-left: 10px;
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
            }

            .loading-img {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 8px;
                background: $background-blur-light;
                backdrop-filter: blur(15px);
                z-index: 100;
                
                .loading-icon {
                    fill: $primary-color !important;
                }
            }
        }
    }

    .left {
        flex: 4;   
        
        .btn-save {
            text-align: right;
        }
    }
}

@media screen and (max-width: 620px) {
    .container {
        flex-direction: column;

        .devider {
            display: block;
        }

        .right {
            .img-Bx {
                width: 160px;
                height: 160px;
            }
        }

        .left {                     
            .btn-save {
                text-align: center;
            }
        }
    }
}