@import '../../Styles/variables.scss';

.wrapper {
    position: relative;
    padding: 10px !important;

    .button {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.full-name {
    font-weight: 500;
}

.icon {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.plate {
    font-size: 2em;
    font-weight: 800;
}

.text-capitalize {
    text-transform: capitalize;
}

.sub-box {
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: rgba($color: #f1f1f1, $alpha: 0.5);
}